<h1>Coordinators</h1>
<p class="lead">This is a list of all coordinators.</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><a href="<%= user_path(user) %>"><%= gravatar_for user %></a></td>
      <td><a href="<%= user_path(user) %>"><%= user.full_name %></a></td>
      <td><a href="<%= user_path(user) %>"><%= user.email %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
