<% provide(:title, "New Course - ") %>
<h1>Create a new course</h1>
<p class="lead">Fill out the following fields below to create a new course.</p>
<div class="form">
  <%= form_for :course, url: courses_path do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Course Name' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control', placeholder: 'Course Description' %>
    </div>
    <script type="text/javascript">
      $('.selectpicker').selectpicker();
    </script>
    <%= f.select @categories, class: 'selectpicker' do %>
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    <% end %>
    <%= f.submit class: 'btn btn-default', value: 'Create Course' %>
  <% end %>
</div>
