<% provide(:title, "New Category - ") %>
<h1>Create a new category</h1>
<div class="form">
    <%= form_for @category do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Category Name' %>
        </div>
        <%= f.submit class: 'btn btn-primary btn-primary--wide' %>
    <% end %>
</div>