<%= render 'shared/error_messages' %>
<h1 class="margin-bottom-three"><%= @category.name %></h1>
<% @courses.each_slice(3) do |group| %>
<div class="row">
  <% group.each do |course| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3 class="thumbnail__header"><%= link_to course.name, course_path(:id => course.id), class: 'thumbnail__link' %></h3>
        <% if course.prerequisites.present? %>
          <p><strong>Prerequisite(s):</strong><br>
            <% names = [] %>
            <% course.prerequisites.each do |p| %>
            <% names << p.name %>
            <% end %>
            <%= names.join(', ') %>
          </p>
        <% end %>
        <p><strong>Locations(s):</strong><br>
          <% names = [] %>
          <% course.locations.each do |p| %>
          <% names << p.name %>
          <% end %>
          <%= names.join(', ') %>
        </p>
        <div class="thumbnail__button-panel">
          <%= link_to like_path(course.id), method: :post, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
          <% end %>
          <%= link_to dislike_path(course.id), method: :post, class: 'btn' do %>
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          <% end %>
          <%= Like.where(course_id: course.id).count - Dislike.where(course_id: course.id).count %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>